.main-login {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 20%;
}

.form {
  align-items: center;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu , sans-serif;
  height: 450px;
  justify-content: space-evenly;
  padding-bottom: 20px;
  text-align: center;
}

.input-login {
  background-color: var(--blue-dark);
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  padding: 5px;
  text-align: center;
}

.input-login:focus {
  background-color: var(--blue-dark);
  border: 0;
  border-bottom: 2px solid white;
}

.btn-play, .btn-config {
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  background-size: 100% auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.btn-play, .btn-config:hover {
  animation: pulse512 1.5s infinite;
  background-position: right center;
  background-size: 200% auto;
}

@keyframes pulse512 {

  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
