.ranking-page {
  align-items: center;
  color: #e0e1dd;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.ranking-title {
  font-size: 44px;
  margin-bottom: 80px;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.user-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50%;
}

.user-name {
  font-size: 20px;
}

.user-score {
  font-size: 25px;
}

.go-home-button {
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  background-size: 100% auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: inherit;
  font-size: 20px;
  padding: 0.6em 1.5em;
}

.go-home-button:hover {
  animation: pulse512 1.5s infinite;
  background-position: right center;
  background-size: 200% auto;
}

@keyframes pulse512 {

  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
