.header-quiz {
  align-items: center;
  color: white;
  display: flex;
  font-family: Ubuntu , sans-serif;
  justify-content: space-around;
  padding-top: 10px;
  width: 100%;
}

.header-profile {
  border-radius: 50%;
}
